node_modules/
.DS_Store
*.tsbuildinfo
storybook-static/
*storybook.log
.design-sync/sb-reference/
.design-sync/learnings/
.design-sync/.cache/
.design-sync/node_modules
.design-sync/sb-build.log
.ds-sync/
ds-bundle/
.vitest

tests/screenshots
