@import "tailwindcss";
@import "@esuiss/tailwind";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6321 0.2018 254.09);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5692 0.0152 285.91 / 12%);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.9626 0.0066 286.27);
  --muted-foreground: oklch(0.3588 0.012 285.78 / 60%);
  --accent: oklch(0.5692 0.0152 285.91 / 12%);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6532 0.2328 25.74);
  --border: oklch(0.3588 0.012 285.78 / 12%);
  --input: oklch(0.8271 0.0028 286.34);
  --ring: oklch(0.6321 0.2018 254.09);
  --chart-1: oklch(0.747149 0.135994 219.9589);
  --chart-2: oklch(0.6321 0.2018 254.09);
  --chart-3: oklch(0.5595 0.2296 279.31);
  --chart-4: oklch(0.6216 0.2629 322.51);
  --chart-5: oklch(0.6497 0.2383 17.9);
  --radius: 0.75rem;
  --sidebar: oklch(0.9626 0.0066 286.27);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.6321 0.2018 254.09);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5692 0.0152 285.91 / 12%);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.3588 0.012 285.78 / 12%);
  --sidebar-ring: oklch(0.6321 0.2018 254.09);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2273 0.0038 286.09);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2939 0.0036 286.18);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.651471 0.191972 251.4696);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5692 0.0152 285.91 / 24%);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2273 0.0038 286.09);
  --muted-foreground: oklch(0.943 0.0134 286.14 / 60%);
  --accent: oklch(0.5692 0.0152 285.91 / 24%);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.662 0.2246 25.12);
  --border: oklch(0.4473 0.0065 286.14 / 50%);
  --input: oklch(0.3414 0.0034 286.22);
  --ring: oklch(0.651471 0.191972 251.4696);
  --chart-1: oklch(0.8076 0.135 221.82);
  --chart-2: oklch(0.651471 0.191972 251.4696);
  --chart-3: oklch(0.6413 0.1928 274.69);
  --chart-4: oklch(0.6579 0.2791 322.41);
  --chart-5: oklch(0.6577 0.2317 16.02);
  --sidebar: oklch(0.2273 0.0038 286.09);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.651471 0.191972 251.4696);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.5692 0.0152 285.91 / 24%);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.4473 0.0065 286.14 / 50%);
  --sidebar-ring: oklch(0.651471 0.191972 251.4696);
}

@theme inline {
  --font-sans: system-ui, sans-serif;
  --font-heading: var(--font-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
